body {
    background: #c4c0c094;
}
        h1 {
            color: red;
        }
        h2 {
            color: #1460aa;
        }
        p {
            color: #2acf14;
        }
.hotpink-header
 {
    color: hotpink;
}
#top 
{
    background: #291850
}