body {
  background: #c4c0c094;
}
h1 {
  color: red;
}
h2 {
  color: #1460aa;
}
p {
  color: #2d971f;
}

#top {
  background: #4a3183;
  border-radius: 10px;
  margin-left: 60px;
}
.about {
  color: rgb(143, 53, 98);
}

.about__heading {
  color: rgb(187, 93, 140);
}
.about__picture {
  width: 400px;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid black;
}
.article {
  color: rgb(40, 107, 51);
}
.image {
  width: 400px;
  border-radius: 50%;
  margin: 0 auto;
}
.footer {
  border: 2px solid rgb(131, 9, 9);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.footer__heading {
  color: #1b1b1b;
}
.header__links {
  border: 3px black solid;
  border-radius: 14px;
}
.main {
  color: #376ea5;
  max-width: 1000px;
  margin: 0 auto;
}
.main__header {
  background: black;
}
.navigation {
  background: rgb(59, 168, 78);
  padding: 16px;
  border-radius: 10px;
}
.navigation__link {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-right: 20px;
}
.navigation__link--learning {
  color: rgb(145, 51, 51);
  background: #1c3a13;
  padding: 4px;
  border-radius: 7px;
}
.main__introduction {
  color: hotpink;
}
.learning {
  border: 2px solid rgb(131, 9, 9);
  padding: 10px;
  border-radius: 10px;
}
.learning__heading {
  color: hotpink;
}
